{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produtos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Preco</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td><a href="{{ path('produto_show', { 'id': produto.id }) }}">{{ produto.id }}</a></td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.marca }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produto_show', { 'id': produto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produto_edit', { 'id': produto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produto_new') }}">Create a new produto</a>
        </li>
    </ul>
{% endblock %}
