{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto.nome }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ produto.preco }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ produto.categoria }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ produto.marca }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produto_edit', { 'id': produto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
